header{
    background-color: #383d58;
    color:aliceblue;
}
.cabeçalho-imagen{
    width: 20%;
}
.cabeçalho{
    background-color: #383d58;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
}